In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [1]:
import warnings
warnings.filterwarnings("ignore")

### Regular expressions

In [2]:
import re
test_string='123abc4567abc123ABC'
pattern=re.compile(r'ab')
pattern

re.compile(r'ab', re.UNICODE)

In [4]:
a='\tHello'
b=r'\tHello'
print(a)
print(b)

	Hello
\tHello

### finditer()

In [6]:
my_string='abc123ABC123abc'
pattern=re.compile(r'123')
matches=pattern.finditer(my_string)
for match in matches:
    print(match)
    print(match.span(),match.start(),match.end())
    print(match.group())

<re.Match object; span=(3, 6), match='123'>
(3, 6) 3 6
123
<re.Match object; span=(9, 12), match='123'>
(9, 12) 9 12
123

In [19]:
import re

test_string = "hello everyone, hello world"  

pattern = re.compile(r'\Ahello')  
matches = pattern.finditer(test_string)

for match in matches:
    print(match)

<re.Match object; span=(0, 5), match='hello'>

### findall()

In [7]:
pattern=re.compile(r'123')
matches=pattern.findall(my_string)
for match in matches:
    print(match)

123
123

In [20]:
import re

test_string = "hello123 everyone, hello45 world78"

pattern = re.compile(r'\d')  
matches = pattern.findall(test_string)

for match in matches:
    print(match)

1
2
3
4
5
7
8

In [8]:
my_string='abc123ABC123abc'
pattern=re.compile(r'abc')
matches=pattern.match(my_string)
print(matches.group())

abc

In [9]:

pattern=re.compile(r'abc')
matches=pattern.match(my_string)
print(match)

123

### search

In [11]:
match=pattern.search(my_string)
print(match)

<re.Match object; span=(0, 3), match='abc'>

In [12]:
matches=re.finditer(r'abc',test_string)
for match in matches:
    print(match)

<re.Match object; span=(3, 6), match='abc'>
<re.Match object; span=(10, 13), match='abc'>

In [18]:
import re

test_string = "hello123 everyone, hello45 world78"

pattern = re.compile(r'\d+')  
matches = pattern.findall(test_string)

for match in matches:
    print(match)

123
45
78

In [26]:
import re

test_string = "hello123 everyone, hello45 world78"

pattern = re.compile(r'\d+')  
matches = pattern.finditer(test_string)

for match in matches:
    print(match)

<re.Match object; span=(5, 8), match='123'>
<re.Match object; span=(24, 26), match='45'>
<re.Match object; span=(32, 34), match='78'>

In [30]:
import re

test_string = "hello123 everyone, hello45 world78"

pattern = re.compile(r'\w+')  
matches = pattern.findall(test_string)

for match in matches:
    print(match)

hello123
everyone
hello45
world78

In [32]:
test_string = 'helloA 123_'

pattern = re.compile(r'[a-z]')  
matches = pattern.findall(test_string)

for match in matches:
    print(match)

h
e
l
l
o

### Find dates

In [36]:
import re

dates = '''
01.04.2020
2020.04.01
hello-world
2020-04-01
2020-05-23
2020-06-11
2020-07-11
2020-08-11
2020/04/02
2020_04_04
2020_04_04
'''

pattern = re.compile(r'\b\d{4}[-/_]\d{2}[-/_]\d{2}\b')

matches = pattern.finditer(dates)
for match in matches:
    print(match.group())

2020-04-01
2020-05-23
2020-06-11
2020-07-11
2020-08-11
2020/04/02
2020_04_04
2020_04_04

### Find all dates in may or june months

In [37]:
print('only dates with-or . in between in May or June')
pattern=re.compile(r'\d\d\d\d[-.]0[56][-.]\d\d')
matches = pattern.finditer(dates)
for match in matches:
    print(match.group())

only dates with-or . in between in May or June
2020-05-23
2020-06-11

### Title extraction using string

In [48]:
import re

my_string = """
Mr Simpson
Mrs simpson
Mr.Brown
Ms Smith
mr.
"""

pattern = re.compile(r'(Mr|Mrs|Ms)\.?\s\w+')

matches = pattern.finditer(my_string)
for match in matches:
    print(match)

<re.Match object; span=(1, 11), match='Mr Simpson'>
<re.Match object; span=(12, 23), match='Mrs simpson'>
<re.Match object; span=(33, 41), match='Ms Smith'>

In [50]:
import re

my_string = """
Mr Simpson
Mrs simpson
Mr.Brown
Ms Smith
mr.
"""

pattern = re.compile(r'\b(Mr|Mrs|Ms)\b\.?')

matches = pattern.finditer(my_string)
for match in matches:
    print(match.group())

Mr
Mrs
Mr.
Ms

In [51]:
import re

text = """
Contact us at support@gmail.com for help.
Personal email: john.doe123@gmail.com
Another: jane_smith@yahoo.com
Invalid: user@gmail
Business: info.company@gmail.com
"""

pattern = re.compile(r'\b[\w\.-]+@gmail\.com\b')

matches = pattern.finditer(text)
for match in matches:
    print(match.group())

support@gmail.com
john.doe123@gmail.com
info.company@gmail.com

In [52]:
import re

def is_valid_string(s):
    return bool(re.fullmatch(r'[a-zA-Z0-9]+', s))

print(is_valid_string("abc123"))   
print(is_valid_string("abc-123"))

True
False

In [53]:
pattern = re.compile(r'ab*')
print(pattern.findall("ab abb abbb ac abc"))

['ab', 'abb', 'abbb', 'a', 'ab']

In [84]:
pattern = re.compile(r'ab+')
print(pattern.findall("ab abb abbb ac abc"))

['ab', 'abb', 'abbb', 'ab']

In [86]:
pattern = re.compile(r'[A-Z][a-z]+')
print(pattern.findall("Ram is Presenting"))

['Ram', 'Presenting']

In [88]:
pattern = re.compile(r'^\w+')
print(pattern.findall("Hello world"))

['Hello']

In [21]:
import pandas as pd
import numpy as np

data = {
    'Employee ID': [201, 202, 203, 204, 205, 206, np.nan, 208],
    'Name': ['John', 'Samantha', 'Alex', 'Nina', 'Mark', 'Lilly', 'Tom', 'Olivia'],
    'Department': ['HR', 'Finance', 'IT', 'HR', 'Marketing', 'IT', 'HR', 'Finance'],
    'Salary': [50000, 62000, np.nan, 58000, 54000, np.nan, 60000, 61000],
    'Experience (Years)': [2, 5, 3, 4, np.nan, 6, 7, 4]
}

df = pd.DataFrame(data)

print("Original Employee Data with Missing Values:\n")
print(df)

df_removed = df.dropna()

print("\nData After Removing Rows with Missing Values:\n")
print(df_removed)

Original Employee Data with Missing Values:

   Employee ID      Name Department   Salary  Experience (Years)
0        201.0      John         HR  50000.0                 2.0
1        202.0  Samantha    Finance  62000.0                 5.0
2        203.0      Alex         IT      NaN                 3.0
3        204.0      Nina         HR  58000.0                 4.0
4        205.0      Mark  Marketing  54000.0                 NaN
5        206.0     Lilly         IT      NaN                 6.0
6          NaN       Tom         HR  60000.0                 7.0
7        208.0    Olivia    Finance  61000.0                 4.0

Data After Removing Rows with Missing Values:

   Employee ID      Name Department   Salary  Experience (Years)
0        201.0      John         HR  50000.0                 2.0
1        202.0  Samantha    Finance  62000.0                 5.0
3        204.0      Nina         HR  58000.0                 4.0
7        208.0    Olivia    Finance  61000.0                 4.0

In [23]:
df_removed=df.dropna()
print("\n Data After Removing Rows with Missing Values:\n")
print(df_removed)

 Data After Removing Rows with Missing Values:

   Employee ID      Name Department   Salary  Experience (Years)
0        201.0      John         HR  50000.0                 2.0
1        202.0  Samantha    Finance  62000.0                 5.0
3        204.0      Nina         HR  58000.0                 4.0
7        208.0    Olivia    Finance  61000.0                 4.0

### Forward fill

In [24]:
import pandas as pd
import numpy as np

data = {
    'Name': ['John', 'Samantha', 'Alex', 'Nina', 'Mark', 'Lilly', 'Tom', 'Olivia'],
    'Salary': [50000, 62000, np.nan, 58000, 54000, np.nan, 60000, 61000]
}

df = pd.DataFrame(data)
df_ffill = df.copy()
df_ffill['Salary'] = df_ffill['Salary'].fillna(method='ffill')

print("\nForward Fill:\n")
print(df_ffill[['Name', 'Salary']])

Forward Fill:

       Name   Salary
0      John  50000.0
1  Samantha  62000.0
2      Alex  62000.0
3      Nina  58000.0
4      Mark  54000.0
5     Lilly  54000.0
6       Tom  60000.0
7    Olivia  61000.0

In [32]:
import pandas as pd
import numpy as np

data = {
    'Employee': ['Aman', 'Bina', 'Charan', 'Deepa', 'Esha'],
    'Age': [25, np.nan, 30, np.nan, 28],
    'Salary': [50000, 60000, np.nan, 58000, np.nan],
    'Department': ['HR', np.nan, 'IT', 'Finance', np.nan]
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)
df_mean = df.copy()
df_mean['Age'] = df_mean['Age'].fillna(df_mean['Age'].mean())
df_mean['Salary'] = df_mean['Salary'].fillna(df_mean['Salary'].mean())
print("\nAfter Mean Imputation:\n", df_mean)
df_median = df.copy()
df_median['Age'] = df_median['Age'].fillna(df_median['Age'].median())
df_median['Salary'] = df_median['Salary'].fillna(df_median['Salary'].median())
print("\nAfter Median Imputation:\n", df_median)
df_mode = df.copy()
df_mode['Department'] = df_mode['Department'].fillna(df_mode['Department'].mode()[0])
print("\nAfter Mode Imputation (Department):\n", df_mode)

Original DataFrame:
   Employee   Age   Salary Department
0     Aman  25.0  50000.0         HR
1     Bina   NaN  60000.0        NaN
2   Charan  30.0      NaN         IT
3    Deepa   NaN  58000.0    Finance
4     Esha  28.0      NaN        NaN

After Mean Imputation:
   Employee        Age   Salary Department
0     Aman  25.000000  50000.0         HR
1     Bina  27.666667  60000.0        NaN
2   Charan  30.000000  56000.0         IT
3    Deepa  27.666667  58000.0    Finance
4     Esha  28.000000  56000.0        NaN

After Median Imputation:
   Employee   Age   Salary Department
0     Aman  25.0  50000.0         HR
1     Bina  28.0  60000.0        NaN
2   Charan  30.0  58000.0         IT
3    Deepa  28.0  58000.0    Finance
4     Esha  28.0  58000.0        NaN

After Mode Imputation (Department):
   Employee   Age   Salary Department
0     Aman  25.0  50000.0         HR
1     Bina   NaN  60000.0    Finance
2   Charan  30.0      NaN         IT
3    Deepa   NaN  58000.0    Finance
4     Esha  28.0      NaN    Finance

### Backward fill

In [33]:

df_bfill = df.copy()
df_bfill['Salary'] = df_bfill['Salary'].fillna(method='bfill')
print("\nBackward Fill:\n")
print(df_bfill[['Employee', 'Salary']])

Backward Fill:

  Employee   Salary
0     Aman  50000.0
1     Bina  60000.0
2   Charan  58000.0
3    Deepa  58000.0
4     Esha      NaN