In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import re
test_string='123abc4567abc123ABC'
pattern=re.compile(r'ab')
pattern

re.compile(r'ab', re.UNICODE)

In [3]:
a='\tHello'
b=r'\tHello'
print(a)
print(b)

	Hello
\tHello

In [4]:
my_string='abc123ABC123abc'
pattern=re.compile(r'123')
matches=pattern.finditer(my_string)
for match in matches:
    print(match)
    print(match.span(),match.start(),match.end())
    print(match.group())

<re.Match object; span=(3, 6), match='123'>
(3, 6) 3 6
123
<re.Match object; span=(9, 12), match='123'>
(9, 12) 9 12
123

In [5]:
pattern=re.compile(r'123')
matches=pattern.findall(my_string)
for match in matches:
    print(match)

123
123

In [8]:
my_string='abc123ABC123abc'
pattern=re.compile(r'abc')
matches=pattern.match(my_string)
print(matches.group())

abc

In [11]:

pattern=re.compile(r'abc')
matches=pattern.match(my_string)
print(match)

<re.Match object; span=(12, 15), match='abc'>

In [12]:
match=pattern.search(my_string)
print(match)

<re.Match object; span=(0, 3), match='abc'>

In [13]:
matches=re.finditer(r'abc',test_string)
for match in matches:
    print(match)

<re.Match object; span=(3, 6), match='abc'>
<re.Match object; span=(10, 13), match='abc'>

In [19]:
import re

test_string = "hello everyone, hello world"  

pattern = re.compile(r'\Ahello')  
matches = pattern.finditer(test_string)

for match in matches:
    print(match)

<re.Match object; span=(0, 5), match='hello'>

In [23]:
import re

test_string = "hello123 everyone, hello45 world78"

pattern = re.compile(r'\d')  
matches = pattern.findall(test_string)

for match in matches:
    print(match)

1
2
3
4
5
7
8

In [24]:
import re

test_string = "hello123 everyone, hello45 world78"

pattern = re.compile(r'\d+')  
matches = pattern.findall(test_string)

for match in matches:
    print(match)

123
45
78

In [26]:
import re

test_string = "hello123 everyone, hello45 world78"

pattern = re.compile(r'\d+')  
matches = pattern.finditer(test_string)

for match in matches:
    print(match)

<re.Match object; span=(5, 8), match='123'>
<re.Match object; span=(24, 26), match='45'>
<re.Match object; span=(32, 34), match='78'>

In [27]:
import re

test_string = "hello123 everyone, hello45 world78"

pattern = re.compile(r'\S')  
matches = pattern.finditer(test_string)

for match in matches:
    print(match)

<re.Match object; span=(0, 1), match='h'>
<re.Match object; span=(1, 2), match='e'>
<re.Match object; span=(2, 3), match='l'>
<re.Match object; span=(3, 4), match='l'>
<re.Match object; span=(4, 5), match='o'>
<re.Match object; span=(5, 6), match='1'>
<re.Match object; span=(6, 7), match='2'>
<re.Match object; span=(7, 8), match='3'>
<re.Match object; span=(9, 10), match='e'>
<re.Match object; span=(10, 11), match='v'>
<re.Match object; span=(11, 12), match='e'>
<re.Match object; span=(12, 13), match='r'>
<re.Match object; span=(13, 14), match='y'>
<re.Match object; span=(14, 15), match='o'>
<re.Match object; span=(15, 16), match='n'>
<re.Match object; span=(16, 17), match='e'>
<re.Match object; span=(17, 18), match=','>
<re.Match object; span=(19, 20), match='h'>
<re.Match object; span=(20, 21), match='e'>
<re.Match object; span=(21, 22), match='l'>
<re.Match object; span=(22, 23), match='l'>
<re.Match object; span=(23, 24), match='o'>
<re.Match object; span=(24, 25), match='4'>
<re.Match object; span=(25, 26), match='5'>
<re.Match object; span=(27, 28), match='w'>
<re.Match object; span=(28, 29), match='o'>
<re.Match object; span=(29, 30), match='r'>
<re.Match object; span=(30, 31), match='l'>
<re.Match object; span=(31, 32), match='d'>
<re.Match object; span=(32, 33), match='7'>
<re.Match object; span=(33, 34), match='8'>

In [28]:
import re

test_string = "hello123 everyone, hello45 world78"

pattern = re.compile(r'\S')  
matches = pattern.findall(test_string)

for match in matches:
    print(match)

h
e
l
l
o
1
2
3
e
v
e
r
y
o
n
e
,
h
e
l
l
o
4
5
w
o
r
l
d
7
8

In [30]:
import re

test_string = "hello123 everyone, hello45 world78"

pattern = re.compile(r'\w+')  
matches = pattern.findall(test_string)

for match in matches:
    print(match)

hello123
everyone
hello45
world78

In [32]:
test_string = 'helloA 123_'

pattern = re.compile(r'[a-z]')  
matches = pattern.findall(test_string)

for match in matches:
    print(match)

h
e
l
l
o

In [36]:
import re

dates = '''
01.04.2020
2020.04.01
hello-world
2020-04-01
2020-05-23
2020-06-11
2020-07-11
2020-08-11
2020/04/02
2020_04_04
2020_04_04
'''

pattern = re.compile(r'\b\d{4}[-/_]\d{2}[-/_]\d{2}\b')

matches = pattern.finditer(dates)
for match in matches:
    print(match.group())

2020-04-01
2020-05-23
2020-06-11
2020-07-11
2020-08-11
2020/04/02
2020_04_04
2020_04_04

In [37]:
print('only dates with-or . in between in May or June')
pattern=re.compile(r'\d\d\d\d[-.]0[56][-.]\d\d')
matches = pattern.finditer(dates)
for match in matches:
    print(match.group())

only dates with-or . in between in May or June
2020-05-23
2020-06-11

In [41]:
my_string='he123llo_123'
pattern=re.compile(r'\d*')
matches = pattern.finditer(my_string)
for match in matches:
    print(match)

<re.Match object; span=(0, 0), match=''>
<re.Match object; span=(1, 1), match=''>
<re.Match object; span=(2, 5), match='123'>
<re.Match object; span=(5, 5), match=''>
<re.Match object; span=(6, 6), match=''>
<re.Match object; span=(7, 7), match=''>
<re.Match object; span=(8, 8), match=''>
<re.Match object; span=(9, 12), match='123'>
<re.Match object; span=(12, 12), match=''>

In [40]:
my_string='hello_1_2_3-3_'
pattern=re.compile(r'(_?\d)_')
matches = pattern.finditer(my_string)
for match in matches:
    print(match)

<re.Match object; span=(5, 8), match='_1_'>
<re.Match object; span=(8, 10), match='2_'>
<re.Match object; span=(12, 14), match='3_'>

In [48]:
import re

my_string = """
Mr Simpson
Mrs simpson
Mr.Brown
Ms Smith
mr.
"""

pattern = re.compile(r'(Mr|Mrs|Ms)\.?\s\w+')

matches = pattern.finditer(my_string)
for match in matches:
    print(match)

<re.Match object; span=(1, 11), match='Mr Simpson'>
<re.Match object; span=(12, 23), match='Mrs simpson'>
<re.Match object; span=(33, 41), match='Ms Smith'>

In [50]:
import re

my_string = """
Mr Simpson
Mrs simpson
Mr.Brown
Ms Smith
mr.
"""

pattern = re.compile(r'\b(Mr|Mrs|Ms)\b\.?')

matches = pattern.finditer(my_string)
for match in matches:
    print(match.group())

Mr
Mrs
Mr.
Ms

In [51]:
import re

text = """
Contact us at support@gmail.com for help.
Personal email: john.doe123@gmail.com
Another: jane_smith@yahoo.com
Invalid: user@gmail
Business: info.company@gmail.com
"""

pattern = re.compile(r'\b[\w\.-]+@gmail\.com\b')

matches = pattern.finditer(text)
for match in matches:
    print(match.group())

support@gmail.com
john.doe123@gmail.com
info.company@gmail.com

In [52]:
import re

def is_valid_string(s):
    return bool(re.fullmatch(r'[a-zA-Z0-9]+', s))

print(is_valid_string("abc123"))   
print(is_valid_string("abc-123"))

True
False

In [81]:
pattern = re.compile(r'^[a-z]+_[a-z]+$')
print(pattern.match("hello_world"))   
print(pattern.match("helloWorld"))

<re.Match object; span=(0, 11), match='hello_world'>
None

In [53]:
pattern = re.compile(r'ab*')
print(pattern.findall("ab abb abbb ac abc"))

['ab', 'abb', 'abbb', 'a', 'ab']

In [84]:
pattern = re.compile(r'ab+')
print(pattern.findall("ab abb abbb ac abc"))

['ab', 'abb', 'abbb', 'ab']

In [86]:
pattern = re.compile(r'[A-Z][a-z]+')
print(pattern.findall("Ram is Presenting"))

['Ram', 'Presenting']

In [88]:
pattern = re.compile(r'^\w+')
print(pattern.findall("Hello world"))

['Hello']

In [89]:
import pandas as pd
import numpy as np

data = {
    'Employee ID': [201, 202, 203, 204, 205, 206, np.nan, 208],
    'Name': ['John', 'Samantha', 'Alex', 'Nina', 'Mark', 'Lilly', 'Tom', 'Olivia'],
    'Department': ['HR', 'Finance', 'IT', 'HR', 'Marketing', 'IT', 'HR', 'Finance'],
    'Salary': [50000, 62000, np.nan, 58000, 54000, np.nan, 60000, 61000],
    'Experience (Years)': [2, 5, 3, 4, np.nan, 6, 7, 4]
}

df = pd.DataFrame(data)

print("Original Employee Data with Missing Values:\n")
print(df)

df_removed = df.dropna()

print("\nData After Removing Rows with Missing Values:\n")
print(df_removed)

Original Employee Data with Missing Values:

   Employee ID      Name Department   Salary  Experience (Years)
0        201.0      John         HR  50000.0                 2.0
1        202.0  Samantha    Finance  62000.0                 5.0
2        203.0      Alex         IT      NaN                 3.0
3        204.0      Nina         HR  58000.0                 4.0
4        205.0      Mark  Marketing  54000.0                 NaN
5        206.0     Lilly         IT      NaN                 6.0
6          NaN       Tom         HR  60000.0                 7.0
7        208.0    Olivia    Finance  61000.0                 4.0

Data After Removing Rows with Missing Values:

   Employee ID      Name Department   Salary  Experience (Years)
0        201.0      John         HR  50000.0                 2.0
1        202.0  Samantha    Finance  62000.0                 5.0
3        204.0      Nina         HR  58000.0                 4.0
7        208.0    Olivia    Finance  61000.0                 4.0

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

In [91]:
df_removed=df.dropna()
print("\n Data After Removing Rows with Missing Values:\n")
print(df_removed)

 Data After Removing Rows with Missing Values:

   Employee ID      Name Department   Salary  Experience (Years)
0        201.0      John         HR  50000.0                 2.0
1        202.0  Samantha    Finance  62000.0                 5.0
3        204.0      Nina         HR  58000.0                 4.0
7        208.0    Olivia    Finance  61000.0                 4.0

In [93]:
import pandas as pd
import numpy as np

data = {
    'Name': ['John', 'Samantha', 'Alex', 'Nina', 'Mark', 'Lilly', 'Tom', 'Olivia'],
    'Salary': [50000, 62000, np.nan, 58000, 54000, np.nan, 60000, 61000]
}

df = pd.DataFrame(data)
df_ffill = df.copy()
df_ffill['Salary'] = df_ffill['Salary'].fillna(method='ffill')

print("\nForward Fill:\n")
print(df_ffill[['Name', 'Salary']])

Forward Fill:

       Name   Salary
0      John  50000.0
1  Samantha  62000.0
2      Alex  62000.0
3      Nina  58000.0
4      Mark  54000.0
5     Lilly  54000.0
6       Tom  60000.0
7    Olivia  61000.0

/tmp/ipykernel_36/245750577.py:11: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill['Salary'] = df_ffill['Salary'].fillna(method='ffill')

In [101]:
import pandas as pd
import numpy as np

data = {
    'Employee': ['Aman', 'Bina', 'Charan', 'Deepa', 'Esha'],
    'Age': [25, np.nan, 30, np.nan, 28],
    'Salary': [50000, 60000, np.nan, 58000, np.nan],
    'Department': ['HR', np.nan, 'IT', 'Finance', np.nan]
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)
df_mean = df.copy()
df_mean['Age'] = df_mean['Age'].fillna(df_mean['Age'].mean())
df_mean['Salary'] = df_mean['Salary'].fillna(df_mean['Salary'].mean())
print("\nAfter Mean Imputation:\n", df_mean)
df_median = df.copy()
df_median['Age'] = df_median['Age'].fillna(df_median['Age'].median())
df_median['Salary'] = df_median['Salary'].fillna(df_median['Salary'].median())
print("\nAfter Median Imputation:\n", df_median)
df_mode = df.copy()
df_mode['Department'] = df_mode['Department'].fillna(df_mode['Department'].mode()[0])
print("\nAfter Mode Imputation (Department):\n", df_mode)

Original DataFrame:
   Employee   Age   Salary Department
0     Aman  25.0  50000.0         HR
1     Bina   NaN  60000.0        NaN
2   Charan  30.0      NaN         IT
3    Deepa   NaN  58000.0    Finance
4     Esha  28.0      NaN        NaN

After Mean Imputation:
   Employee        Age   Salary Department
0     Aman  25.000000  50000.0         HR
1     Bina  27.666667  60000.0        NaN
2   Charan  30.000000  56000.0         IT
3    Deepa  27.666667  58000.0    Finance
4     Esha  28.000000  56000.0        NaN

After Median Imputation:
   Employee   Age   Salary Department
0     Aman  25.0  50000.0         HR
1     Bina  28.0  60000.0        NaN
2   Charan  30.0  58000.0         IT
3    Deepa  28.0  58000.0    Finance
4     Esha  28.0  58000.0        NaN

After Mode Imputation (Department):
   Employee   Age   Salary Department
0     Aman  25.0  50000.0         HR
1     Bina   NaN  60000.0    Finance
2   Charan  30.0      NaN         IT
3    Deepa   NaN  58000.0    Finance
4     Esha  28.0      NaN    Finance

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

In [102]:

df_ffill = df.copy()
df_ffill['Salary'] = df_ffill['Salary'].fillna(method='ffill')
print("\nForward Fill:\n")
print(df_ffill[['Employee', 'Salary']])
df_bfill = df.copy()
df_bfill['Salary'] = df_bfill['Salary'].fillna(method='bfill')
print("\nBackward Fill:\n")
print(df_bfill[['Employee', 'Salary']])

Forward Fill:

  Employee   Salary
0     Aman  50000.0
1     Bina  60000.0
2   Charan  60000.0
3    Deepa  58000.0
4     Esha  58000.0

Backward Fill:

  Employee   Salary
0     Aman  50000.0
1     Bina  60000.0
2   Charan  58000.0
3    Deepa  58000.0
4     Esha      NaN

/tmp/ipykernel_36/4041677574.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill['Salary'] = df_ffill['Salary'].fillna(method='ffill')
/tmp/ipykernel_36/4041677574.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bfill['Salary'] = df_bfill['Salary'].fillna(method='bfill')
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

In [104]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = {
    'Name': ['John', 'Samatha', 'Alex', 'Nina', 'Mark', 'Lily', 'Tom', 'Olivia'],
    'Salary': [50000, 62000, 52000, np.nan, 54000, 57000, np.nan, 61000]
}

df = pd.DataFrame(data)
df_interp = df.copy()
df_interp['Salary'] = df_interp['Salary'].interpolate(method='linear')
df_interp['Experience (Years)'] = [1, 2, 3, np.nan, 5, 6, np.nan, 4]
df_interp['Experience (Years)'] = df_interp['Experience (Years)'].interpolate(method='quadratic')
print("\nLinear Interpolation:\n")
print(df_interp[['Name', 'Salary', 'Experience (Years)']])

Linear Interpolation:

      Name   Salary  Experience (Years)
0     John  50000.0            1.000000
1  Samatha  62000.0            2.000000
2     Alex  52000.0            3.000000
3     Nina  53000.0            3.966713
4     Mark  54000.0            5.000000
5     Lily  57000.0            6.000000
6      Tom  59000.0            5.735090
7   Olivia  61000.0            4.000000